@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border: 1px solid lightgrey;
  position: sticky;
  top: 0;
  z-index: 1;
}

.left__side {
  display: flex;
  align-items: center;
}

.icon__header {
  padding-left: 10px;
}

.left__text {
  text-decoration: none;
  color: black;
}

.icon {
  cursor: pointer;
  padding-right: 10px;
}

.middle__side {
  display: flex;
  align-items: center;
}

.middle__side > img {
  object-fit: contain;
  height: 40px;
}

.right__side {
  display: flex;
  align-items: center;
}

.user {
  display: none;
}

.right__side > button {
  margin-right: 10px;
  background-color: #567b95;
  color: #fff;
  padding: 9px;
  border: none;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.main__advertBottom > a {
  text-decoration: none;
  font-weight: 700;
  color: #1a4b70;
}

.footer__icon > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.title__columnInfo > a {
  text-decoration: none;
  color: black;
}

.end__footer > a {
  padding-top: 8px;
  text-decoration: none;
  font-size: 12px;
  color: gray;
  margin-right: 8px;
}

.times__logo > a {
  display: flex;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 12px;
  text-decoration: none;
  justify-content: flex-end;
}

.main__footer > a,
.main__footer2 > a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.right__side > button > a {
  text-decoration: none;
  color: white;
}

.comment__button > button {
  background-color: #326891;
  border: 1px solid #326891;
  outline: none;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.button__signUp > button {
  margin-left: 80px;
  background-color: white;
  outline: none;
  border: 1px solid black;
  font-weight: 700;
  height: 25px;
  cursor: pointer;
}

.right__side > button:hover {
  background-color: #326891;
}

.header__buttons {
  display: none;
}

.advert__box > p {
  margin: 10px;
  font-size: 10px;
  color: grey;
}

.advert__box {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding-bottom: 10px;
}

.advert__box1 {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.article__name {
  margin-bottom: 30px;
  width: 600px;
  font-size: 20px;
}

.article__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img__box > img {
  width: 70vw;
  justify-content: center;
}

.comment {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 30px;
}

.comment > p {
  width: 71%;
  color: gray;
}

.article__textContainer {
  display: flex;
  justify-content: center;
}

.article__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

.article__text > h5 {
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
}

.text__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.publish__day > p {
  font-size: 12px;
}

.apps > .apps_icon {
  margin-right: 10px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 50%;
  padding: 8px;
  color: black;
  border: #eee;
}

.apps > .apps_icon:hover {
  background-color: #fff;
  border: 1px solid #eee;
}

.apps > .mark {
  cursor: pointer;
}

.main__text {
  letter-spacing: 0.2px;
}

.main__text > article {
  font-size: 20px;
  font-language-override: normal;
}

.editor__pick {
  display: block;
  float: right;
  width: 300px;
  padding-right: 50px;
  margin-top: -155px;
}

.editor__pick > h5 {
  border-bottom: 1px solid lightgray;
}

.editor__line {
  margin-left: 300px;
}

.editor__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.editor__box > img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.editor__box > p {
  margin-left: 5px;
  cursor: pointer;
}

.advert__login {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

.main__advert {
  padding-top: 15px;
  position: relative;
  z-index: 1;
}

.main__advert > p {
  font-weight: 600;
}

.main__advert::before {
  content: "";
  position: absolute;
  left: 55px;
  top: 0;
  height: 10px;
  width: 30%;
  border-top: 1px solid lightgray;
}

.main__advertBottom {
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
}

.main__advertBottom::before {
  content: "";
  position: absolute;
  left: 55px;
  bottom: 0;
  height: 10px;
  width: 30%;
  border-bottom: 1px solid lightgray;
}

.text__name {
  font-weight: 700;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
  width: 90%;
}

.text__name:hover {
  color: gray;
}

.title__columnInfo > p {
  font-size: 14px;
  cursor: pointer;
}

.text__theory > p {
  font-size: 12px;
  color: gray;
}

.author__info > p {
  margin-left: 13px;
}

.most__popularInfo > p {
  padding-top: 8px;
  font-size: 17px;
  border-top: 1px solid lightgray;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup__item > p {
  font-size: 15px;
  width: 70%;
  color: gray;
  font-style: italic;
}

.editor__box > p:hover {
  text-decoration: underline;
}

.text__link {
  color: #1a4b70;
}

.text__link:hover {
  text-decoration: none;
}

.bold__text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.theory__inflation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.text__theory {
  margin-top: 25px;
  width: 71%;
}

.author__info {
  width: 72%;
  margin-top: 15px;
  font-size: 13px;
  padding-bottom: 15px;
  color: gray;
}

.end__article {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: gray;
}

.advert__title {
  font-size: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: grey;
}

.signup__item {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid lightgray;
  padding-top: 10px;
  margin-bottom: 20px;
}

.video {
  margin-top: 30px;
  justify-content: center;
  object-fit: contain;
}

.text__video {
  font-size: 14px;
  color: gray;
  font-weight: 550;
}

.site {
  font-size: 12px;
  color: gray;
}

.video__bottom {
  margin-top: 30px;
}

.button__signUp > button:hover {
  background-color: black;
  color: white;
}

.sky {
  margin-top: 30px;
  width: 70%;
}

.comment__button > button:hover {
  background-color: #1a4b70;
}

.cards__space {
  display: grid;
  place-items: center;
}

.all__cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.most__cards {
  border-top: 1px solid black;
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.most__cards > h5 {
  margin-top: 10px;
  font-weight: 800;
  font-size: 14px;
}

.card__info {
  text-decoration: none;
  color: black;
}

.image__footer {
  font-size: 8px;
  float: right;
  color: gray;
  margin-bottom: 5px;
}

.editor__foot {
  border-top: 1px solid black;
  padding-top: 10px;
}

.image__day {
  font-size: 8px;
  color: gray;
  margin-top: 5px;
}

.card__info > img {
  cursor: pointer;
}

.box1 {
  padding-left: 10px;
}

.box2 {
  padding-left: 10px;
}

.card__infoBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 10px;
}

.most__popular {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}

.most__popularTitle {
  border-top: 1px solid black;
  width: 300px;
}

.most__popularTitle > h5 {
  margin-top: 10px;
  font-weight: 800;
  font-size: 14px;
}

.most__popularInfo {
  width: 80%;
}

.most__popularInfo > p:hover {
  color: grey;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid lightgray;
  margin-top: 30px;
}

.times__logo > img {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  margin-left: 95px;
}

.footer__title {
  display: flex;
  justify-content: space-evenly;
}

.title__columnInfo {
  display: flex;
  flex-direction: column;
}

.title__columnInfo > a:hover {
  text-decoration: underline;
}

.title__columnSub {
  border-left: 1px solid lightgrey;
  padding-left: 10px;
  cursor: pointer;
}

.footer__icon,
.main__footer,
.main__footer2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.footer__icon > a:hover {
  text-decoration: underline;
}

.icon1 {
  margin-right: 5px;
}

.main__footer > a:hover,
.main__footer2 > a:hover {
  text-decoration: underline;
}

.main__footer {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.end__footer {
  border-top: 1px solid lightgray;
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.end__footer > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1009px) {
  .img__box > img {
    width: 100vw;
    justify-content: center;
  }

  .user {
    display: flex;
    font-size: 20px;
  }

  .header__buttons {
    display: flex;
    background-color: white;
    justify-content: flex-end;
  }

  .header__buttonsBtn > button {
    background: transparent;
    outline: none;
    border: none;
    color: grey;
    margin-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .comment > p {
    width: 80%;
    color: gray;
  }

  .editor__pick,
  .left__icon,
  .right__side > button,
  .header__text,
  .title__columnSub,
  .title__columnInfo {
    display: none;
  }

  .times__logo {
    display: flex;
  }

  .footer__title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .title__column {
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
  }
}

@media only screen and (max-width: 950px) {
  .img__box > img {
    width: 100vw;
    justify-content: center;
  }

  .comment > p {
    width: 80%;
    color: gray;
  }

  .editor__pick {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .img__box > img {
    width: 100vw;
    justify-content: center;
  }

  .editor__pick,
  .advert__box,
  .most__popular {
    display: none;
  }

  .comment > p {
    width: 100%;
    color: gray;
  }

  .most__cards {
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  .header__container {
    width: 100%;
  }

  .img__box > img {
    width: 100vw;
    justify-content: center;
  }

  .editor__pick,
  .advert__box {
    display: none;
  }

  .comment > p {
    width: 100%;
    color: gray;
  }
}
