@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.cards__space {
  display: grid;
  place-items: center;
}

.all__cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.most__cards {
  border-top: 1px solid black;
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.most__cards > h5 {
  margin-top: 10px;
  font-weight: 800;
  font-size: 14px;
}

.card__info {
  text-decoration: none;
  color: black;
}

.image__footer {
  font-size: 8px;
  float: right;
  color: gray;
  margin-bottom: 5px;
}

.editor__foot {
  border-top: 1px solid black;
  padding-top: 10px;
}

.image__day {
  font-size: 8px;
  color: gray;
  margin-top: 5px;
}

.card__info > img {
  cursor: pointer;
}

.box1 {
  padding-left: 10px;
}

.box2 {
  padding-left: 10px;
}

.card__infoBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 10px;
}

.most__popular {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}

.most__popularTitle {
  border-top: 1px solid black;
  width: 300px;
}

.most__popularTitle > h5 {
  margin-top: 10px;
  font-weight: 800;
  font-size: 14px;
}

.most__popularInfo {
  width: 80%;
}

.most__popularInfo > p:hover {
  color: grey;
}
